[Desktop Entry]
Version=1.0
Name=Gestures
Comment=
Exec=/opt/gestures/gestures
Path=/opt/gestures
Icon=/opt/gestures/gestures.svg
Terminal=false
Type=Application
Categories=Utility;
