[Desktop Entry]
Version=1.0
Name=Gestures
Comment=
Exec=/usr/bin/gestures
Icon=org.cunidev.gestures
Terminal=false
Type=Application
Categories=Utility;
